<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Validate Email</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <div class="form">
        <form action="validate-email" method="get">
        <div class="title">Test Now  </div>
        <div class="subtitle">Validate any email you want !</div>


        <div class="input-container ic2">
            <input id="email" class="input" name="email" type="email" placeholder=" " />
            <div class="cut cut-short"></div>
            <label for="email" class="placeholder">Email</label>
        </div>
        <button id="submit" type="submit" class="submit">Submit</button>
            </form>
    </div>
</body>

</html>